@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body {
    width: 100vw;
    height: auto;
    background: linear-gradient(45deg, #E07A5F, #F2CC8F);
    background-size: cover;
}

nav {
    width: 50vw;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    color: #f4f1de9f;
    font-size: 4rem;
    font-family: 'Oswald', sans-serif;
}


#menu li {
    transition-duration: 250ms;
    user-select: none;
}

#menu li:hover {
    opacity: 1;
    color: white;
    text-decoration: underline;
}

.current {
    opacity: 1;
    color: white;
}

section {
    position: fixed;
    right: 50vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
    height: 80vh;
    width: .2vw;
    background: linear-gradient(rgba(244,241,222,0) 0%, rgba(255,255,255,1) 0%, rgba(244,241,222,0) 100%);
}

content {
    background: linear-gradient(360deg, #3d405b83, #f2cc8f75);
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 400vh;
    width: 100vw;
}

#placeholder {
    width: 50vw;
    height: inherit;
}

#innerBody {
    width: 50vw;
    height: inherit;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

}

.contain {
    max-height: 80vh;
    height: 80vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 10vw;
    padding-right: 10vw;
    color: white;
    font-size: 3rem;
    font-family: 'Oswald', sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

#links {
    width: 20vw;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

#links img {
    height: 2rem;
    filter: invert()
}


#links img:hover {
    height: 2.1rem;
}

footer {
    position: absolute;
    top: 397.5vh;
    left: 82vw;
    height: 2vh;
    z-index: 5;
    color: #f4f1de9f;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
}

.logos img {
    height: 6rem;
    filter: invert();
}

.logos p {
    font-size: 1.5rem;
    padding: 5px;
}

.logos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;
}

.logoBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8vh;
}

#bigLogoBox {
    margin-top: 10vh;
}

h3 {
    font-size: 2rem;
}

.project img {
    width: 16vw;
    border: 2px solid white;
    margin-right: 2vw;
}

.project {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 40vw;
    margin-top: 2vh;
    padding: 2vh;
    text-decoration: none;
    color: white;
}

.project:hover {
    background: linear-gradient(-45deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.25) 100%);
}

.box {
    margin-top: 4vh;
}