@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap');

body {
    width: 100vw;
    height: auto;
    background: linear-gradient(45deg, #E07A5F, #F2CC8F);
    background-size: cover;
}

nav {
    width: 50vw;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

#menu {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    color: #f4f1de9f;
    font-size: 4rem;
    font-family: 'Oswald', sans-serif;
}

#name {
    margin-top: 6vw;
    margin-bottom: 6vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    color: white;
    font-size: 4rem;
    font-family: 'Oswald', sans-serif;
    padding: 10px;
    border: 4px solid white;
    transition-duration: 1s;
}


#menu li {
    transition-duration: 250ms;
    user-select: none;
}

#menu li:hover {
    opacity: 1;
    color: white;
    text-decoration: underline;
}

.current {
    opacity: 1;
    color: white;
}

section {
    position: fixed;
    right: 50vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
    height: 80vh;
    width: .3vw;
    background: linear-gradient(rgba(244,241,222,0) 0%, rgba(255,255,255,1) 0%, rgba(244,241,222,0) 100%);
}

content {
    background: linear-gradient(360deg, #3d405b83, #f2cc8f75);
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 400vh;
    width: 100vw;
}

#placeholder {
    width: 50vw;
    height: inherit;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

#placeholder h1 {
    position: fixed;
    top: 90vh;
    color: #f4f1de9f;
    font-size: 10vh;
    font-family: 'Oswald', sans-serif;
    line-height: 11vh;
}

#innerBody {
    width: 50vw;
    height: inherit;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

}

.contain {
    max-height: 80vh;
    height: 80vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 5vw;
    padding-right: 5vw;
    color: white;
    font-size: 3rem;
    font-family: 'Oswald', sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

#links {
    width: 20vw;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

#links img {
    height: 2rem;
    filter: invert()
}


#links img:hover {
    height: 2.1rem;
}

#credits {
    font-size: 1rem;
    font-weight: 100;

}

.logos img {
    height: 6rem;
    filter: invert();
}

.logos p {
    font-size: 1.5rem;
    padding: 5px;
    font-weight: 100;
}

.logos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;
}

.logoBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8vh;
}

#bigLogoBox {
    margin-top: 10vh;
}

h3 {
    font-size: 2rem;
}

.project img {
    width: 16vw;
    border: 2px solid white;
    margin-right: 2vw;
}

.project {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 26vw;
    margin-top: 2vh;
    font-weight: 100;
    padding: 2vh;
    text-decoration: none;
    color: white;
}

.project:hover {
    background: linear-gradient(-45deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.25) 100%);
}

.box {
    margin-top: 4vh;
}

#contactBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: inherit;
}

#about p {
    margin-top: 4rem;
    font-size: 1.5rem;
    line-height: 2rem;
    padding-top: 2rem;
    font-weight: 100;
    text-align: justify;
}

#longname {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#contactMe {
    height: 40vh;
    width: 16vw;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    font-size: 1.5rem;
    font-weight: 100;
}

#contactMe input {
    width: inherit;
    background: none;
    border: 1px solid white;
    color: white;
    line-height: 1.5rem;
    font-size: 1rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 100;
    padding: 4px;
}

#contactMe textarea {
    width: inherit;
    height: 20vh;
    background: none;
    border: 1px solid white;
    color: white;
    resize: none;
    line-height: 1.5rem;
    font-size: 1rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 100;
    padding: 4px;
}

#contactMe textarea::placeholder, input::placeholder {
    color: rgba(255, 255, 255, 0.507);
    font-family: 'Oswald', sans-serif;
}

#contactMe textarea:focus, input:focus {
    outline: none;
}

#contactMe h3 {
    align-self: center;
    line-height: 2rem;
    font-size: 1.5rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 100;
}

#profilePic {
    margin-top: 4vh;
    object-fit: cover;
    object-position: 80% 0%;
    height: 36vh;
    width: 30vw;
    border: 1px solid white;
}